.slide{
    width: 1024px;
    height: 768px;
    overflow: hidden !important;
    position: relative;
    background-image: url('../../img/bg.png');
    background-size: cover;
}
.slide__massage{
    margin-top: 15%;
    margin-left: 7%;
    text-transform: uppercase;
    font-family: "Gilroy";
    font-size: 1.75em; 
}
.slide__textBlock{
    
    width: 77%;
    height: 50%;

    position: absolute;
    top: 30%;
    left: 5%;
    border-radius: 50px;
    z-index: 50;
    overflow-y:scroll;
    direction: rtl;
}
.slide__Block{
    
  width: 77%;
  height: 50%;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 10%;
  border-radius: 50px;
  z-index: 50;
  direction: rtl;
}

.slide__text{
    font-size: 1.7em;
    margin: 2% 5%;
    text-align: justify;
    direction: ltr;
    margin-left: 10%;
}

    ::-webkit-scrollbar {
        width: 17px;
      }
      
      ::-webkit-scrollbar-track {
        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 30%,
          rgba(0, 0, 0, 1) 50%,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0) 100%
        );
      }
      
      ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color:#ff6a9f;
        box-shadow:0px 1px 1px #fff inset;
        background-image:url('https://yraaa.ru/_pu/24/59610063.png');
        background-position:center;
        background-repeat:no-repeat;
        
      }
      .slide__sperm {
        opacity: 0.529;
        position: absolute;
        left: -250px;
        top: -70px;
        width: 1461px;
        z-index: 22;
        animation: sperm 6s cubic-bezier(0.86, 0, 0.07, 1) 1;
      }
      .slide__sperm1 {
        opacity: 0.49;
        position: absolute;
        left: 50px;
        top: 360px;
        width: 1462px;
        height: 685px;
        z-index: 24;
        animation: sperm 6s cubic-bezier(0.86, 0, 0.07, 1) 1;
      }
      .slide__sperm2 {
        opacity: 0.49;
        position: absolute;
        left: 150px;
        top: 30px;
        width: 828px;
        height: 500px;
        z-index: 25;
        animation: sperm 5s cubic-bezier(0.86, 0, 0.07, 1) 1;
      }
      .slide__sperm3 {
        opacity: 0.49;
        position: absolute;
        left: 220px;
        top: 310px;
        width: 795px;
        height: 318px;
        z-index: 26;
        animation: sperm 3s cubic-bezier(0.86, 0, 0.07, 1) 1;
      }
      .slide__sperm4 {
        position: absolute;
        left: 50px;
        top: -50px;
        width: 1000px;
        height: 1000px;
        z-index: 23;
        animation: sperm 5s cubic-bezier(0.86, 0, 0.07, 1) 1;
      }
      .slide__sperms{
        animation: sperms 8s cubic-bezier(0.86, 0, 0.07, 1) 1;
      }
      
      @keyframes sperm {
        0% {
            transform: translate3d(800px, 300px, 0px);
            animation-timing-function: ease-in;
        }
        100% {
            transform: translate3d(0px, 0px, 0px);
        }
    }
    @keyframes sperms {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }