
.App{
  width: 1024px;
  height: 100vh;
  overflow: hidden !important;
  margin: 0 auto;
  position: relative;
}
.logo{
  position: absolute;
  bottom: 5%;
  left: 10%;
  z-index: 50;
  width: 65px;
}